@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  text-align: center;
  background-color: #a078a0;
  border-radius: 0.9em;
  padding: 1em;
  grid-area: 2 / 2 / 3 / 3;

  font-family: "Ubuntu";
  font-size: 19px;
  color: #2b2b2b;
}

input {
  color: inherit;
}

select {
  color: inherit;
}
